In [77]:
import pandas as pd

import numpy as np

In [78]:
df =pd.read_csv("all2.csv")

In [79]:
import pandas as pd

# Assuming your data is in a DataFrame named df
# First, sort the DataFrame by some index if not already sorted

# Drop the header row if it's not needed in calculations


# Reset the index


# Calculate the cumulative sum for the economic_score column
df['cumulative_economic_score'] = df['economic_score'].cumsum()

# Initialize a variable to keep track of the start index
start_index = 0

# Loop until you reach 750 entries
while start_index < 750:
    # Calculate the end index for the next 50 entries
    end_index = start_index + 50
    
    # Calculate the cumulative sum for the next 50 entries starting from 0
    df.loc[start_index:end_index, 'cumulative_economic_score_50'] = df.loc[start_index:end_index, 'economic_score'].cumsum()
    
    # Move to the next 50 entries
    start_index = end_index

# Fill NaN values in the new column with 0
df['cumulative_economic_score_50'].fillna(0, inplace=True)

# Round off the cumulative economic scores to 4 decimal places
df['cumulative_economic_score_50'] = df['cumulative_economic_score_50'].round(4)

In [80]:
df

,economic_score,fail_count,fid,boost_distance,final distance,before speed,after speed,threat_type,boost_flag,STAI,cumulative_economic_score,cumulative_economic_score_50
0,0.0000,1,94.8349,99.72,0.0000,0.1750,0.1750,fast,True,44,0.0000,0.0000
1,3.7303,0,268.0753,334.08,111.6475,0.1477,0.1477,medium,True,44,3.7303,3.7303
2,3.6824,0,271.5600,0.00,287.5200,0.0200,0.0200,slow,False,44,7.4127,7.4127
3,4.0430,0,247.3394,390.20,35.2609,0.1824,0.1824,fast,True,44,11.4557,11.4557
4,2.8236,0,354.1600,426.28,367.5346,0.0200,0.0680,slow,True,44,14.2793,14.2793
...,...,...,...,...,...,...,...,...,...,...,...,...
745,4.7665,0,209.7970,139.76,47.7238,0.1512,0.1512,medium,True,40,3834.9914,183.2586
746,4.0347,0,247.8509,229.88,99.6903,0.1425,0.1425,medium,True,40,3839.0261,187.2933
747,4.6395,0,215.5417,149.12,70.5035,0.1406,0.1406,medium,True,40,3843.6656,191.9328
748,6.4050,0,156.1271,111.96,109.4840,0.0791,0.0791,slow,True,40,3850.0706,198.3378
749,6.1624,0,162.2743,369.68,17.4339,0.1404,0.1404,medium,True,40,3856.2330,204.5002

In [81]:
df[['economic_score','cumulative_economic_score_50']].head(120)

     economic_score  cumulative_economic_score_50
0            0.0000                        0.0000
1            3.7303                        3.7303
2            3.6824                        7.4127
3            4.0430                       11.4557
4            2.8236                       14.2793
..              ...                           ...
115          0.0000                      138.5298
116         13.5272                      152.0570
117         20.4750                      172.5320
118         13.5927                      186.1247
119         15.1095                      201.2342

[120 rows x 2 columns]

In [82]:
df

,economic_score,fail_count,fid,boost_distance,final distance,before speed,after speed,threat_type,boost_flag,STAI,cumulative_economic_score,cumulative_economic_score_50
0,0.0000,1,94.8349,99.72,0.0000,0.1750,0.1750,fast,True,44,0.0000,0.0000
1,3.7303,0,268.0753,334.08,111.6475,0.1477,0.1477,medium,True,44,3.7303,3.7303
2,3.6824,0,271.5600,0.00,287.5200,0.0200,0.0200,slow,False,44,7.4127,7.4127
3,4.0430,0,247.3394,390.20,35.2609,0.1824,0.1824,fast,True,44,11.4557,11.4557
4,2.8236,0,354.1600,426.28,367.5346,0.0200,0.0680,slow,True,44,14.2793,14.2793
...,...,...,...,...,...,...,...,...,...,...,...,...
745,4.7665,0,209.7970,139.76,47.7238,0.1512,0.1512,medium,True,40,3834.9914,183.2586
746,4.0347,0,247.8509,229.88,99.6903,0.1425,0.1425,medium,True,40,3839.0261,187.2933
747,4.6395,0,215.5417,149.12,70.5035,0.1406,0.1406,medium,True,40,3843.6656,191.9328
748,6.4050,0,156.1271,111.96,109.4840,0.0791,0.0791,slow,True,40,3850.0706,198.3378
749,6.1624,0,162.2743,369.68,17.4339,0.1404,0.1404,medium,True,40,3856.2330,204.5002

In [83]:
df.drop('cumulative_economic_score',axis=1,inplace=True)

In [84]:
df

,economic_score,fail_count,fid,boost_distance,final distance,before speed,after speed,threat_type,boost_flag,STAI,cumulative_economic_score_50
0,0.0000,1,94.8349,99.72,0.0000,0.1750,0.1750,fast,True,44,0.0000
1,3.7303,0,268.0753,334.08,111.6475,0.1477,0.1477,medium,True,44,3.7303
2,3.6824,0,271.5600,0.00,287.5200,0.0200,0.0200,slow,False,44,7.4127
3,4.0430,0,247.3394,390.20,35.2609,0.1824,0.1824,fast,True,44,11.4557
4,2.8236,0,354.1600,426.28,367.5346,0.0200,0.0680,slow,True,44,14.2793
...,...,...,...,...,...,...,...,...,...,...,...
745,4.7665,0,209.7970,139.76,47.7238,0.1512,0.1512,medium,True,40,183.2586
746,4.0347,0,247.8509,229.88,99.6903,0.1425,0.1425,medium,True,40,187.2933
747,4.6395,0,215.5417,149.12,70.5035,0.1406,0.1406,medium,True,40,191.9328
748,6.4050,0,156.1271,111.96,109.4840,0.0791,0.0791,slow,True,40,198.3378
749,6.1624,0,162.2743,369.68,17.4339,0.1404,0.1404,medium,True,40,204.5002

In [85]:
len(df)

750

In [86]:
s = []
for letter in range(1, 16):
    for _ in range(50):
      s.append(letter)

df['player'] = np.array(s)

In [87]:
df['total_earning']=0

In [93]:
df['cumulative_economic_score_50'][50]

3.5804

In [94]:
c=0
for i in range(49,750,50):
    df.iloc[c:i+1,12]=df.iloc[i,10]
    c=i+1

In [95]:
df

,economic_score,fail_count,fid,boost_distance,final distance,before speed,after speed,threat_type,boost_flag,STAI,cumulative_economic_score_50,player,total_earning
0,0.0000,1,94.8349,99.72,0.0000,0.1750,0.1750,fast,True,44,0.0000,1,151.8773
1,3.7303,0,268.0753,334.08,111.6475,0.1477,0.1477,medium,True,44,3.7303,1,151.8773
2,3.6824,0,271.5600,0.00,287.5200,0.0200,0.0200,slow,False,44,7.4127,1,151.8773
3,4.0430,0,247.3394,390.20,35.2609,0.1824,0.1824,fast,True,44,11.4557,1,151.8773
4,2.8236,0,354.1600,426.28,367.5346,0.0200,0.0680,slow,True,44,14.2793,1,151.8773
...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,4.7665,0,209.7970,139.76,47.7238,0.1512,0.1512,medium,True,40,183.2586,15,204.5002
746,4.0347,0,247.8509,229.88,99.6903,0.1425,0.1425,medium,True,40,187.2933,15,204.5002
747,4.6395,0,215.5417,149.12,70.5035,0.1406,0.1406,medium,True,40,191.9328,15,204.5002
748,6.4050,0,156.1271,111.96,109.4840,0.0791,0.0791,slow,True,40,198.3378,15,204.5002
749,6.1624,0,162.2743,369.68,17.4339,0.1404,0.1404,medium,True,40,204.5002,15,204.5002

In [101]:
fail_counts = df.groupby('player')['fail_count'].sum()

# Group by subject and calculate the total number of trials attempted
total_trials = 50

# Calculate the proportion of successful escape trials for each subject
proportion_of_successful_escape_trials = 1-(fail_counts / total_trials)

# Add the proportion_of_successful_escape_trials back to the DataFrame if needed
df['proportion_of_successful_escape_trials'] = df['player'].map(proportion_of_successful_escape_trials)

In [102]:
df

,economic_score,fail_count,fid,boost_distance,final distance,before speed,after speed,threat_type,boost_flag,STAI,cumulative_economic_score_50,player,total_earning,proportion_of_successful_escape_trials
0,0.0000,1,94.8349,99.72,0.0000,0.1750,0.1750,fast,True,44,0.0000,1,151.8773,0.80
1,3.7303,0,268.0753,334.08,111.6475,0.1477,0.1477,medium,True,44,3.7303,1,151.8773,0.80
2,3.6824,0,271.5600,0.00,287.5200,0.0200,0.0200,slow,False,44,7.4127,1,151.8773,0.80
3,4.0430,0,247.3394,390.20,35.2609,0.1824,0.1824,fast,True,44,11.4557,1,151.8773,0.80
4,2.8236,0,354.1600,426.28,367.5346,0.0200,0.0680,slow,True,44,14.2793,1,151.8773,0.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,4.7665,0,209.7970,139.76,47.7238,0.1512,0.1512,medium,True,40,183.2586,15,204.5002,0.74
746,4.0347,0,247.8509,229.88,99.6903,0.1425,0.1425,medium,True,40,187.2933,15,204.5002,0.74
747,4.6395,0,215.5417,149.12,70.5035,0.1406,0.1406,medium,True,40,191.9328,15,204.5002,0.74
748,6.4050,0,156.1271,111.96,109.4840,0.0791,0.0791,slow,True,40,198.3378,15,204.5002,0.74
749,6.1624,0,162.2743,369.68,17.4339,0.1404,0.1404,medium,True,40,204.5002,15,204.5002,0.74

In [103]:
df.to_csv("all3.csv", index=None)